h4{
  color: #1d43ed;
  text-align: center;
  font-weight: bolder;
}
.times{
  text-align: right;
}

.tags{
  font-size: 19px;
  padding-right:5px;
  padding-left:5px;
  display:inline-block;
  font-weight:500;
}
.data{
  font-size: 18px;
  display:inline-block;
  padding-right:5px;
  padding-left:5px;
}

